<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js></script>
    <title>Voter</title>
  </head>

  <body>
    <p>
        <div id="app">
            <h1>Hi [[me]]</h2>
            <button v-on:click="postVote">Vote</button>
            <p>The button above has been clicked [[ total ]] times.</p>
            <p>
                <i>Some other people hanging around...</i>
                <br><span v-for="person in everyone"  v-if="person != me">
                [[person]]
            </span></p>
          </div>
    </p>
    <script>
        if (window.location.protocol == "https:") {
        var ws_scheme = "wss://";
        } else {
        var ws_scheme = "ws://"
        };

        var inbox = new ReconnectingWebSocket(ws_scheme + location.host + "/receive");

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                total: 0,
                me: '',
                everyone: []
            },
            http: {
                root: '/',
            },
            methods: {
                postVote: function (event) {
                    this.$http.post('cast_vote').then(function (response) {
                    })
                }
            }
        })

        inbox.onmessage = function(message) {
            var data = JSON.parse(message.data);
            app.total = data.total;
            app.me = data.me.replace(/-/g, " ");

            everyone = data.everyone.map(x => x.replace(/-/g, " "));
            
            app.everyone = everyone;
        };
        
    </script>
  </body>
</html>
